form {
    height: 80vh;
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    justify-items: center;
    align-content: center;
    gap: 10px;
    color: rgb(202, 197, 197);
}
.login-user_email {
    color: rgb(182, 87, 14);
}
input{
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(237, 240, 243, 0.878);
}
.login-btn {
    height: 20px;
    width: 60px;
}