@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,500;0,900;1,800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.film {
    display: grid;
    justify-content: center;
}
.film-title {
    font-size: 25px;
    margin-left: 10px;
}
.film-info {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.film-left-part {
    height: 50vh;
    min-width: 55vw;
    margin: auto 0;
    padding: 10px;
    color: rgb(228, 231, 234);
    background: linear-gradient(to right,  rgba(56, 55, 55, 0.749) 50%, rgba(68, 68, 68, 0) 90%);
}
.film-rating {
    margin: 0 0 10px 10px;
}
.film-genres {    
    margin: 0 0 30px 10px;
}
.film-btn-download {
    margin: 0 0 0 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 200px;
    background-color: rgba(233, 25, 25, 0.896);
    color: rgb(240, 240, 240);
    border-radius: 5px;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
}
.film-poster {
    width: 20vw;
    margin: auto 30px auto 0;
}
.filv-video_title {
    margin: 10px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: rgb(234, 225, 225);
    font-size: 40px;
    font-family: "Playfair Display", serif;
}
.film-play {
    margin: 0 auto 50px;
    border: 10px dashed rgb(92, 91, 91);
    border-radius: 5px;
}
@media (max-width: 900px) {

}