.favorites {
display: grid;
color: rgb(228, 216, 216);
text-align: center;
}
.favorites-list {       display: grid;
    justify-content: center;
    grid-template-columns: 190px 190px 190px 190px;
    gap: 5px;
}
.favorites-film {
    display: flex;
    margin: 10px;
    color: rgb(228, 216, 216);

}
.favorites-null {
    display: flex;
    justify-content: center;
}