.header {
  width: 100vw;
  height: 45px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom,rgba(12, 1, 1, 0.885)30%,rgba(12, 1, 1, 0.827)60%, rgba(12, 1, 1, 0)100%);
  /* position: absolute; */
}
.header-menu {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.header-menu_button {
  display: flex;
  text-decoration: none;
  color: rgb(227, 217, 217);
}
.header-menu_button__count {
  max-width: 30px;
  margin: 0 2px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}